{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col s6 light-blue darken-2 z-depth-5 fullPage valign-wrapper center-align">
            <a class="white-text center-align" href="{% url 'main-volunteer_login'%}"><h1>ДОБРОВОЛЕЦ</h1></a>
        </div>
        <div class="col s6 light-blue darken-1 valign-wrapper center-align fullPage">
            <form>
                <label for="buildingCode"><a class="white-text"><h1>УЧАСТНИК</h1></a></label></br>
                <input type="text" id='buildingCode'></br>
                <input class="waves-effect waves-light btn-large" type="submit" value='Включи се'>
            </form>
        </div>
    </div> -->

{%endblock content%}