{% extends 'base_blok.html' %}
{% block content %}
	{% load static %}
	
	</div>
	<div class="side_nav">
		<div class="img_nav" style="width: 5%">
			<img id="0" src="{% static 'main/img/unactive1.png' %}"><br>
			<img id="1" src="{% static 'main/img/unactive2.png' %}"><br>
			<img id=2 src="{% static 'main/img/unactive2.png' %}"><br>
		</div>
		<div class="txt_nav"></div>
			<h5>Събития</h5>
			<h5>Преглед на заявки</h5>
		    <h5>Създаване на събитие</h5>
		</div>
	</div>
{% endblock content %}

