{% extends 'base.html' %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col s8 light-blue darken-2 z-depth-5 fullPage valign-wrapper center-align">
			<h3 class="white-text">Събития:</h3>
			{% for event in room.room_events.all %}
			<div class="row">
				<div class="col s12 m8">
					<div class="card small teal lighten-5">
						<div class="card-content">
							<p class="blue-text">
								{{ event.event }}
							</p>
							<p class="grey-text">
								{{ event.creation_date }}
							</p>
						</div>
						<div class="card-action">
							<a class="grey-text" href="#">Изпрати списък</a>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="col s4 light-blue darken-1 valign-wrapper center-align fullPage"">
			<h3 class=" white-text">Участници:</h3>
			{% for room_member in room.room_members.all %}
			<ul class="collection">
				<li class="collection-item teal lighten-5">
					{{ room_member.user.first_name }}
					{{ room_member.user.last_name }}
				</li>
			</ul>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock content %}