{% extends 'base.html' %}
{% block content%}
<div class="container">
    <div class="row">
        <div class="col s8 centered light-blue darken-2 fullPage">
            <h3 class="white-text">Лични данни:</h3></br>
            <div class="card teal lighten-5">
                <div class="card-content blue-text">
                    <p class="left">Име: {{ request.user.first_name }}</p></br>
                    <p class="left">Фамилия: {{ request.user.last_name }}</p>
                </div>
            </div>
        </div>
        <div class="col s4 centered light-blue darken-1 fullPage">
            <a href="{% url 'main-create-room'%}"
                class="waves-effect waves-light btn-large teal lighten-5 blue-text">Добави Сграда</a>
            <h3 class="white-text">Сгради:<h3>
                    {% for room in rooms %}
                    <div class="card teal lighten-5">
                        <div class="card-content blue-text">
                            <a href="{% url 'main-room' pk=room.id %}">
                                <h4>{{ room.name }}</h4>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}