{% extends 'base.html' %}
{% block content%}
    <div class="container">
        <nav>
            <ul>
                <li><a href="#">Направи организация на своята сграда</a></li>
                <li><a href="{% url 'main-create_event'%}">Създай ново събитие</a></li>
            </ul>
        </nav>
        <div class="row">
            <div class="col s8 centered cyan darken-3">
                Тук отиват всички заявки
            </div>
            <div class="col s4 centered">
                Тук отиват всички събития
            </div>
        </div>
    </div>
{% endblock content %}