{% extends "account/base.html" %}
{% block content %}



<div class="container fullPage white-text blue z-depth-3"> 
  <form class="login blue" method="POST" action="{% url 'account_signup' %}">
    <div class="row">
      <div class="col 11 offset-l1">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <h4 class="left">Вход</h4>
        <div class="section">     
          <br><br><br>
          <label class="white-text left" for="email"><h6>Електронна поща</h6></label>
          <input type="text" id="email"></br>
          <label class="white-text left" for="pw"><h6>Парола</h6></label>
          <input type="password" id="pw">
          <button class="btn black-text primaryAction teal lighten-5 z-depth-2" style="float: right;"type="submit">Влез</button>
        </div>
      
      <p style="float: left;">Ако нямате регистрация, може да се регистрирате <a style="color: grey;"href="{% url 'account_signup' %}">тук</a>.</p><br>
      <a style="float: left;" class="button secondaryAction white-text" href="{% url 'account_reset_password' %}">Забравили сте паролата си?</a>
    </div>
    </div>
  </form>
</div>



{% endblock %}