 {% extends "account/base.html" %} {% load i18n %} {% load account %}{% block content %}
<div class="container blue fullPage white-text z-depth-3">
    <h3 class="center-align">{% trans "Възстановяване на паролата" %}</h3>


    {% if user.is_authenticated %} {% include "account/snippets/already_logged_in.html" %} {% endif %}



    <div class="row center-align">

        <div class="col s6 push-l1 darken-3 center-align">

            <p class="left-align">{% trans "Забравили сте паролата си? Попълнете имейл адреса си долу и ще Ви изпратим имейл, за да я промените. " %}</p>


            <form class="password_reset left-align method=" POST action="{% url 'account_reset_password' %} ">

                {% csrf_token %}
                <label class="white-text">Електронна поща</label>
                <input name="email" class="blue lighten-2">
                <button class="btn waves-effect waves-light" type="submit">Възстанови паролата ми</button>
            </form>

            <p class="left-align ">{% blocktrans %}Моля свържете се с нас ако имате проблеми с възстановяването на паролата!{% endblocktrans %}</p>
            {% endblock %}
        </div>
    </div>
</div>