body {
    background-color: #287ec9;
    color: white;
}
label {
    color: white;
}
а {
    text-decoration: none;
}
div.container {
    padding: 5%;
}
input[type=submit] {
    background-color: #028090;
    color: white;
}

form{
	border-style: solid;
	border-radius: 5px;
	padding: 3%;
	margin: 3%;
}